* 
{ 
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-family: Verdana;
  font-size: 16px;
}

html, body 
{
  width: 100%;
  height: 100%;
}

div#container
{
  position: absolute;
  top: 35%;
  left: 30%;
  width: 40%;
  height: 30%;
}

p#front 
{
  position: absolute;
  color: white;
  background-color: #ff5700;
  margin: auto;
  font-size: 10em;;
  width: 100%;
  height: 100%;
  text-align: center;
  text-shadow: 5px 5px #aa7700;
}

div#back 
{
  position: absolute;
  color: white;
  background-color: #ff2222;
  margin: auto;
  font-size: 10em;
  width: 100%;
  height: 100%;
  top: 30px;
}
